/* reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header {
  width: 100%;
  margin: auto;
  position: relative;
}
.hero {
  width: 100%;
}
.container-hero {
  width: 100%;
  background-image: url('../images/hero.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 421px;
  z-index: -1;
}
.text-header {
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0.9;
}
.container-text-name-group {
  height: 60px;
  background-color: #099d8d;
}

.list {
  height: 45px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white;
  background: #14d9c4;
  padding: 12px 17px 7px 17px;
}
.click {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.click:visited {
  color: white;
}

.name-group {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  opacity: 0.95;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}
.lema {
  width: 290px;
  height: 80px;
  background-color: white;
  color: #000000;
  position: relative;
  top: -26px;
  right: -15px;
  padding: 23px 14px 15px 16px;
}
.lema-text {
  width: 260px;
  height: 50px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: normal;
}
/*css equipo, fortalezas debilidades */
/* Equipo */
/* Equipo */
.Presentacion {
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  background: white;
}
@font-face {
  font-family: Rubik-medium;
  src: url(https://fonts.google.com/specimen/Rubik?sidebar.open=true&selection.family=Rubik:wght@500);
  line-height: 45px;
}
.H2-Equipo {
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  position: relative;
  font-size: 24px;
  line-height: 45px;
  color: #14d9c4;
  padding-bottom: 15px;
  font-weight: 500;
}
.Slide-Presentación {
  width: 290px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: #54585a;
  margin: 16px;
  line-height: 27px;
}
/* Debilidades y Fortalezas */
.H3-Fortalezas {
  padding-top: 50px;
}
.H3-Debilidades,
.H3-Fortalezas {
  display: block;
  color: #099d8d;
  width: 290px;
  height: 45px;
  font-family: 'Rubik', sans-serif;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Slide-Fortalezas-Debilidades {
  background-color: rgba(184, 184, 185, 0.2);
  /* width: 100%; */
  padding: 15px;
  /* margin: 16px; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: #54585a;
  /* background: #b8b8b9; */
  /* opacity: 0.2; */
  line-height: 24px;
  text-align: center;
  padding: 0 15px 45px 15px;
}

.P-Debilidades {
  color: #54585a;
}
.box-white {
  width: 30px;
  height: 30px;
  background: white;
  transform: rotate(45deg);
  position: relative;
  bottom: 253px;
  left: 134px;
}
.P-Fortalezas {
  padding-top: 20px;
}

/*css quienes somos */
body {
  font-family: 'Open Sans', sans-serif;
}
.our-team {
  width: 100%;
  margin: auto;
  text-align: center;
  background-color: white;
}
.web {
  color: #099d8d;
  text-decoration: none;
}

.img-developer {
  width: 180px;
  height: 180px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin: auto 30px auto 30px;
  background-size: cover;
}
.socialLogos {
  width: 124px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  fill: #099d8d;
  list-style: none;
  padding: 0;
}
.social-media-logo {
  width: 50%;
}
.dot {
  height: 3px;
  width: 3px;
  background-color: #099d8d;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -6px;
  right: 6px;
}
.developer {
  margin: auto;
  text-align: center;
  padding: 0 44px 20px;
}
.title-our-team {
  height: 45px;
  font-family: 'Rubik', sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #099d8d;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.developer-name {
  width: 150px;
  height: 45px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin-top: 0;
}
.description {
  width: 290px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #54585a;
  margin-top: 0;
}

/*mobile footer style*/
* {
  box-sizing: border-box;
  margin: 0;
}
.footer {
  background-color: #ffffff;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-top: 1px solid #b8b8b9;
}
.copyright {
  height: 20px;
  width: 172px;
  font-size: 14px;
  line-height: 1.43;
  color: #b8b8b9;
  margin-top: 30px;
}
.nav-footer {
  width: 114px;
  height: 60px;
  margin-top: 20px;
}
.list-footer {
  list-style: none;
  padding: 0;
}
.list-item {
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.75;
  line-height: 1.43;
  color: #54585a;
  font-weight: 600;
}
.logo {
  width: 115.9px;
  height: 45px;
  margin-top: 30px;
  margin-bottom: 45px;
}
.list-link:link {
  text-decoration: none;
  color: #54585a;
}
.list-link:visited {
  text-decoration: none;
  color: #54585a;
}
.list-link:hover {
  text-decoration: none;
  color: #54585a;
}
/*tablet footer style*/
@media (min-width: 768px) {
  * {
    box-sizing: border-box;
    margin: auto;
  }
  .footer {
    border-top: 1px solid #b8b8b9;
    height: 170px;
    position: relative;
    padding: 0;
  }
  .copyright {
    position: absolute;
    left: 0;
    padding: 0;
    left: 45px;
  }
  .nav-footer {
    width: 324px;
    height: 90px;
    /* border: 1px solid red; */
    position: absolute;
    right: 45px;
    top: 24px;
    padding: 0;
    line-height: 2.14;
  }
  .logo {
    position: absolute;
    top: 65px;
    left: 45px;
    padding: 0;
    margin: 0;
  }
  .list-item {
    text-align: right;
  }
}

@media screen and (min-width: 767px) {
  /*header*/
  .text-header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: #099d8d;
    padding: 45px 16px 40px 45px;
  }

  .list {
    width: 300px;
    height: 0;
    background-color: transparent;
    padding: 0;
    align-items: center;
  }
  .lema {
    top: -77px;
    left: -130px;
    opacity: 0.8;
    width: 441px;
    height: 80px;
    padding: 15px 30px 15px 30px;
  }
  .lema-text {
    line-height: 40px;
    text-align: center;
  }
  .name-group {
    line-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
  }
  .container-text-name-group {
    background-color: transparent;
  }
  /* quienes somos */
  .our-team {
    max-width: 765px;
  }
  .developer {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
  }
  .photo-developer {
    max-width: 205px;
  }
  .team {
    width: 445px;
  }
  .description {
    width: 400px;
    text-align: left;
  }
  .team {
    align-items: flex-start;
  }

  .right {
    flex-direction: row-reverse;
  }

  .team.team-text-right {
    align-items: flex-end;
  }
  .description.right {
    text-align: right;
  }
}

@media screen and (min-width: 1200px) {
  /* header */
  .text-header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    background-color: #099d8d;
    padding: 30px 142px 15px 142px;
  }
  .lema {
    top: -77px;
    left: -270px;
    opacity: 0.8;
    width: 574px;
    height: 90px;
    padding: 10px 30px 10px 30px;
  }
  .lema-text {
    text-align: center;
    /* text-align: left; */
    font-size: 24px;
    line-height: 1.25;
  }
  /* quienes somos*/
  .our-team {
    max-width: 900px;
  }
  /*desktop footer style*/
  * {
    box-sizing: border-box;
    margin: auto;
  }
  .footer {
    border-top: 1px solid #b8b8b9;
    height: 161px;
    position: relative;
    padding: 0;
  }
  .copyright {
    position: absolute;
    left: 0;
    padding: 0;
    left: 138px;
  }
  .list-footer {
    width: 324px;
    height: 90px;
    position: absolute;
    right: 138px;
    padding: 0;
    line-height: 2.14;
  }
  .logo {
    position: absolute;
    top: 65px;
    left: 138px;
    padding: 0;
    margin: 0;
  }
  .list-item {
    text-align: right;
  }
}
