<footer class="footer">
  <span class="copyright"> she-wolves-code &copy;2020</span>
  <nav class="nav-footer">
    <ul class="list-footer">
      <li class="list-item">
        <a class="list-link" href="index.html#equipo">Equipo</a>
      </li>
      <li class="list-item">
        <a class="list-link" href="index.html#quienes-somos"
          >Quiénes somos</a
        >
      </li>
      <li class="list-item">
        <a class="list-link" href="contacto.html">Contacto</a>
      </li>
    </ul>
  </nav>
  <img
    class="logo"
    src="./assets/images/logo-adalab.png"
    alt="Logo de Adalab"
  />
</footer>