<header class="header">
  <div class="container-hero">
    <img class="hero" src="./assets/images/hero_3.jpg" alt="" />
  </div>
  <div class="text-header">
    <div class="container-text-name-group">
      <h1 class="name-group">SHE-WOLVES-CODE</h1>
    </div>
    <nav>
      <ul class="list">
        <li><a class="click" href="index.html#equipo">EQUIPO</a></li>
        <li>
          <a class="click" href="index.html#quienes-somos">QUIENES SOMOS</a>
        </li>
        <li><a class="click" href="contact.html">CONTACTO</a></li>
      </ul>
    </nav>
  </div>
  <div class="lema contact-lema">
    <h5 class="lema-text">four are better than one</h5>
  </div>
</header>
