<div class="lema">
  <h5 class="lema-text">Queens wolves creating code</h5>
</div>
<section class="Team">
  <div class="Team-Slide">
    <article class="Team-Article">
      <h2 id="equipo" class="Team-Title">EQUIPO</h2>
      <p class="Team-Paragraph">
        Somos un grupo de mujeres jóvenes con muchas ganas de aprender y
        reinventarnos. Compartimos una gran motivación y nos une el mismo
        objetivo, mejorar como profesionales y aprender a programar. Así que
        hemos unido fuerzas y temores para lograr nuestra máxima profesional en
        el Boot Camp de Adalab. Somos programadoras front-end y con este
        proyecto nos abrirnos paso en el sector tecnológico. <br />
        <br />
        En memoria de las mujeres que lograron conquistar el poder soberano y
        salir del papel secundario asignado, nos definimos como she-wolves, pues
        representa nuestro ímpetu y esfuerzo en el crecimiento tanto personal
        como profesional.
      </p>
    </article>
  </div>
  <div class="Weaknesses-and-Strengths-Slide">
    <article class="Strengths-Article">
      <h3 class="Strengths-Title">Fortalezas</h3>
      <p class="Strength-Paragraph">
        Somos autodidactas y sabemos buscarnos recursos para progresar. Tenemos
        muchas ganas de aprender, compartimos avances y referencias. Gestionamos
        el trabajo y distribuimos responsabilidades para ser productivas.
      </p>
    </article>
    <div class="Box-White"></div>
    <article class="Weaknesses-Article">
      <h3 class="Weaknesses-Title">Debilidades</h3>
      <p class="Weaknesses-Paragraph">
        Por lo general, partimos desde cero y la falta de conocimientos nos
        causa cierta inseguridad. El ritmo de trabajo es lento y necesitamos
        trabajar juntas. Tenemos muchas dudas y las frustraciones en el proceso
        nos acompañan.
      </p>
    </article>
  </div>
</section>
