/* reset */
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.contact {
  width: 320px;
  margin: 0 auto 0 auto;
  padding-left: 14px;
  padding-right: 14px;
}

.contact__title--text--p {
  margin-bottom: 20px;
}
.contact__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: $color-midtone;
  font-family: $font-face-titles;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
}

.contact__title--text {
  width: 100%;
  font-family: $font-face-texts;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $paragrah-color;
  margin-bottom: 15px;
}

.contact__title--textsmall {
  width: 100%;
  font-family: $font-face-texts;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $paragrah-color;
  margin-top: 50px;
}

span {
  color: $color-midtone;
}

.label {
  font-family: $font-face-texts;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $paragrah-color;
  display: block;
}

.field {
  width: 100%;
  height: 45px;
  border: solid 1px $color-light-border;
  padding: 11px 15px 15px 15px;
  font-family: $font-face-texts;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-dark;
  margin-bottom: 30px;
  margin-top: 9px;
}
.field:focus {
  outline: none;
  border-color: $color-midtone;
  box-shadow: 0 0 10px $color-midtone;
}
.field-text:focus {
  outline: none;
  border-color: $color-midtone;
  box-shadow: 0 0 10px$color-midtone;
}

.field-text {
  width: 100%;
  border: solid 1px $color-light-border;
  padding: 11px 15px 15px 15px;
  font-family: $font-face-texts;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-dark;
  margin-bottom: 30px;
  margin-top: 9px;
}

.submit {
  text-transform: uppercase;
  background-color: $color-midtone;
  color: $color-light;
  width: 100%;
  height: 45px;
  border-radius: 4px;
  border-width: 0;
  margin-bottom: 60px;
  font-family: $font-face-texts;
}

.firstName {
  margin-top: 58px;
}

.label-text {
  font-family: $font-face-texts;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $paragrah-color;
  display: block;
}

/* mediaqueries */

@media screen and (min-width: 767px) {
  .contact {
    width: 442px;
  }
  .contact__title {
    padding-left: 30px;
    padding-right: 30px;
  }
  .submit {
    width: 50%;
    float: right;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    width: 601px;
  }
  .contact-text {
    padding-left: 30px;
    padding-right: 30px;
  }

  .descktop-email {
    width: 60%;
  }
  .descktop-tel {
    width: 30%;
  }
  .descktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
