.our-team {
  width: 100%;
  padding: 0 5px 0 5px;
  margin: auto;
  text-align: center;
  background-color: $color-light;
}
.web {
  color: $color-midtone;
  text-decoration: none;
}

.img-developer {
  width: 180px;
  height: 180px;
  border: solid 5px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin: auto 30px auto 30px;
  background-size: cover;
  filter: grayscale(100%);
  opacity: 0.9;
  cursor: pointer;
}
.img-developer:hover {
  opacity: 1;
  filter: hue-rotate(00deg);
}

.socialLogos {
  width: 124px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  fill: $color-midtone;
  list-style: none;
  padding: 0;
}
.social-media-logo {
  width: 50%;
}
.dot {
  height: 3px;
  width: 3px;
  background-color: $color-midtone;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -6px;
  right: 6px;
}
.developer {
  margin: auto;
  text-align: center;
  padding: 0 44px 20px;
}
.title-our-team {
  height: 45px;
  font-family: $font-face-titles;
  font-size: 24px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: $color-midtone;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.developer-name {
  height: 45px;
  font-size: 20px;
  font-family: $font-face-texts;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: $color-dark;
  margin-top: 0;
}
.description {
  width: 290px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: $paragrah-color;
  margin-top: 0;
}

@media screen and (min-width: 767px) {
  .our-team {
    max-width: 765px;
  }
  .developer {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
  }
  .photo-developer {
    max-width: 205px;
  }
  .team {
    width: 445px;
  }
  .description {
    width: 400px;
    text-align: left;
  }
  .team {
    align-items: flex-start;
  }

  .right {
    flex-direction: row-reverse;
  }

  .team.team-text-right {
    align-items: flex-end;
  }
  .description.right {
    text-align: right;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    max-width: 1000px;
  }
  .img-developer {
    width: 278px;
    height: 278px;
  }
}
